
.login-form-title {
    width: 100%;
    display: block;
    font-size: 39px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
}


.login-panel-box {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
    box-sizing: border-box;
    position: absolute;
    height: 600;
    top: 15%;
    left: 40%;
    margin: -10px 0 0 -200px;
    background: #FAFAFA;
}


.fa-btn-face {
    color: #fff;
    background-color: #3b5998;
    font-size: 18px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
}

.fa-btn-face span {
    font-size: 30px;
    margin-right: 17px;
    padding-bottom: 3px;
}

.login-label {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    box-sizing: inherit;
    font-weight: bold;
}

.wrap-input {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.paper-style #button {
    outline: none !important;
    border: none;
    background: transparent;
}

.login-sign-in-btn-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login-txt2 {
    font-size: 14px;
    color: #999999;
    line-height: 1.5;
}

.bo1 {
    border-bottom: 1px solid #999999;
}

.login-sign-up {
    text-decoration: none;
}

.div-separator {
    border-bottom:1px lightgrey solid;
}

.login-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
}

.login-btn {
    width: 40%;
}