.listContainer {

    .volunteerListActionsContainer {
        border: 1px solid #c4c4c4;
        margin: 3px;

        .groupNotificuationSelectionContainer {
            text-align: left;
            padding-right: 10px;

            .actionItem {
                display: inline-block;
            }

        }

        .messageDetailsContainer {
            width: 60%;
            height: 80px;
        }
    }
    .volunteerListContainer {
        height: 400px;
        text-align: center;
        display: inline-block;
        overflow-y: scroll;
    }
}
